extends layout

block content
  h1= title

  - if (isSuccess)
    h2 USERLIST
    p WELCOME #{username}!

  - else
    - if (username === '')
      script(type='text/javascript').
        alert('Name is Null. Please reinput user name');
        history.go(-1);
    - else
      script(type='text/javascript').
        alert('Duplicate Name. Please reinput user name');
        history.go(-1);