extends layout

block content
  h1= title

  //input#socketConn(type='button', value='socketConn')

  form(action='/login', method='POST')
    label(for='userId') Input Your Nickname
    br
    br
    input(type='text', id='userId', name='userId', value='sjjung@gmail.com')
    input(type='text', id='phone', name='phone', value='')
    input(type='submit', value='Enter!')

  //script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript').
    $(document).ready(function () {
      $('form').submit(function (e) {
        if ($.trim($('#userId').val()) === '') {
          alert('Please your name');
          return false;
        }
      });
    });

  p Edited by #{name}

