extends layout
block content

  //form(action='/shareRoom/#{group_id}', method='POST')
  //  input(type='hidden', id='socketId', name='socketId', value='')
  //input#socketConn(type='button', value='socketConn')

  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript').
    $(document).ready(function () {

      var room = io.connect("/")

      room.emit('sendUserId', { userId: "#{user_id}" })
      room.on('saveSocket', function (data) {
        $('#phone').val(data.phone);

        var $form = $(document.createElement('form')).css({display: 'none'}).attr("method", "POST").attr("action", '/shareRoom/#{group_id}');
        //$form.append($input1)
        $("body").append($form);

        $form.submit();
      });
    });

